body[b-6dfc4wst7a] {
}

.form-login[b-6dfc4wst7a] {
    width: 500px;
    height: 300px;
    background-color: cornflowerblue;
    align: center;
    padding: inherit;
    border-radius: 10px;
    margin: auto !important;
}
.fixed-strart[b-6dfc4wst7a]
{
    left:0;
}

.btn-login[b-6dfc4wst7a] {
    width: 80%;
    background-image: linear-gradient(90deg, #57D4DF 0%, #9905E5 100%);
    color: white;
    float: inline-end;
}
.btn-forgot-pass[b-6dfc4wst7a] {
    margin-left: 325px
}
.btn-register[b-6dfc4wst7a] {
    background-color: #42b72a;
}
.page > .sidebar[b-6dfc4wst7a]
{
    display:none !important;
}