<div class="content_loading" style="display: flex;justify-content: center;">
    <img class="img_loading" src="image/yasuo-loading.gif" style="
         z-index: 9999;
         position: absolute; 
         width: 160px;"/>
</div>
<div class="bgr">
</div>

