<div class="bgr">
</div>
<div class="w-100 h-100 d-flex" style="height: 100vh !important;">
    <div class="w-100 h-100 flex-column virified-code" style="z-index:9999999999999999999">
        <h2 style="font-weight: bolder;
                    font-size: 25px;
                    display: block;
                    margin: 20px;">
            Vui Lòng Nhập Mã Xác Nhận Từ Mail Bạn Nhận Được
        </h2>

        <div class="d-flex flex-row justify-content-around code-verifi">
            <input type="text" class="form-control d-block input-code" @bind="code1" min="0" max="9" maxlength="1" />
            <input type="text" class="form-control d-block input-code" @bind="code2" min="0" max="9" maxlength="1" />
            <input type="text" class="form-control d-block input-code" @bind="code3" min="0" max="9" maxlength="1" />
            <input type="text" class="form-control d-block input-code" @bind="code4" min="0" max="9" maxlength="1" />
            <input type="text" class="form-control d-block input-code" @bind="code5" min="0" max="9" maxlength="1" />
            <input type="text" class="form-control d-block input-code" @bind="code6" min="0" max="9" maxlength="1" />
        </div>

        <button class="btn btn-success btn-register fw-bold btn-verifi" onclick="@Check">Xác Nhận</button>
    </div>
</div>

